#main1 {
    width: 100%;
    height: 30%;
    margin: 0 auto;
    background: yellow;
}

#main1>ul {
    display: flex;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    width: 100px;
    text-align: center;
    height: 40px;
    line-height: 40px;
}

.main1 {
    height: 120px;
    border: 1px solid black;
    border-radius: 15px;
    display: none;
}

#main1>ul>li:hover .main1 {
    display: block;
}

/* .main1 {
    height: 0;
    overflow: hidden;
    transition:3s;
}

#main1>ul>li:hover .main1 {
    height: 120px;
    border: 1px solid black;
    border-radius: 15px;
} */

#main2 {
    width: 100%;
    height: 30%;
    margin: 0 auto;
    background: yellow;
}

#main2>ul {
    display: flex;
}

.main2 {
    height: 0;
    overflow: hidden;
    transition: 3s;
}

#main2>ul:hover .main2 {
    height: 120px;
    border: 1px solid black;
    border-radius: 15px;
}

#main3 {
    width: 100%;
    height: 30%;
    margin: 0 auto;
    background: yellow;
}

.main3 {
    height: 0;
    overflow: hidden;
    background-color: aqua;
    transition: 3s;
    margin-top: -40px;
    margin-left: 100px;
    width: 100px;
}

#main3>ul>li:hover .main3 {
    height: 120px;
    border: 1px solid black;
    border-radius: 15px;
}