* {
    margin: 0;
    padding: 0;
}

#main {
    width: 700px;
    margin: 0 auto;
}

#main>ul {
    height: 100px;
    background: red;
    list-style: none;
    display: flex;
    color: white;
}

#main>ul>li {
    text-align: center;
    width: 100px;
    height: 100%;
    line-height: 100px;
}

#main>ul {
    &>:nth-child(3) {
        width: 200px;
    }

    &>:nth-child(4) {
        width: 200px;
    }

    &>:nth-child(6) {
        font-size: 50%;
        color: black;
    }

    &>:nth-child(7) {
        font-size: 50%;
        color: black;
    }
}

#main>ul>li>a {
    text-decoration: none;
    color: white;

    &:hover {
        color: orangered;
        border-bottom: 3px solid orangered;
        transition: 0.25s;
        padding-bottom: 3px;
    }
}