*{
    margin: 0;
    padding: 0;
}

#div9, #div10, #div11,#div12{
    width: 100px;
    height: 100px;
    background: red;
}

#div9:hover{
    background:green;
    width: 400px;
}

#div10 > div{
    width: 50px;
    height: 50px;
    background: blue;
}

#div10:hover div{
    background: gray;
}

#div11:hover + #div12{
    background: green;
    width: 50px;
    height: 50px;
}

#div6, #div7, #div8{
    width: 100px;
    height: 100px;
}

#div6{
    background:#FF0000;
}

#div7{
    background: rgb(127, 10, 50);
}

/* a는 투명도를 표시, 1이 최대값이고 클수록 농도가 진해짐 */
#div8{
    background: rgba(110, 60, 20, 0.5);
}

div{
    background: skyblue;
}

#div5 h3:nth-child(2){
    background: peru;
}

#div5 h4:nth-child(5){
    background: peru;
}

#div5 h4:nth-of-type(3){
    background: gold;
}

/* ~ : 형제 선택자 */
/* #div4~div {
    background: red;
} */

#div4+div {
    background: green;
}

#div3 {
    width: 200px;
    height: 200px;
    background: gold;
}

/* div 하위에 있는 모든 div의 자식 h3에 스타일 적용 */
/* #div3 div > h3{
    color: red;
} */

/* div 하위에 있는 직속 자식 div의 자식 h3에 스타일 적용 */
#div3>div>h3 {
    color: red;
}

#div2 {
    width: 200px;
    height: 200px;
    background: yellowgreen;
}

/* > 사용 : div의 직속 자식에게만 스타일 적용 */
#div2>h3 {
    color: red;
}

#div1 {
    width: 200px;
    height: 200px;
    background: grey;
}

/* div 하위에 있는 모든 h3에 스타일 적용 */
#div1 h3 {
    color: red;
}