* {
    margin: 0;
    padding: 0;
}

#nav {
    width: 700px;
}

#nav>ul {
    background: orange;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    /*크기 고정*/
    flex-direction: row;
    height: 100px;
    align-items: center;
    justify-content: space-around;
}

#nav>ul>li {
    background-color: aqua;
    width: 100px;
    height: 50px;
    /* padding-top: 10px;
    padding-bottom: 10px; */
    line-height: 50px;
}

#nav>ul>li>a{
    text-decoration: none;
    color: white;
    &:hover{
        color: black;
        border-bottom: 3px solid olive;
        transition: 0.25s;
        padding-bottom: 3px;
    }
}