<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body align="center">
    <h1 style="color: goldenrod; font-size: 50px; text-shadow: 10px 10px 10px gray;">CARE LAB</h1>
    <%- include("./default/header") %>
</body>

</html>