<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>outline</title>
    </link>
</head>

<body>
    <header style="border: 1px solid black; text-align: center; width: 1500px; height: 200px;">
        <h1 style="font-size: 50px;">제목</h1>
        <nav style="font-size: 30px;">메뉴</nav>
    </header>
    <main style="border: 1px solid black; text-align: center; width: 1500px; height: 900px;">
        <div style="display: flex; border: 1px solid black; width: 100%; height: 50%;">
            <section style="border: 1px solid black; width: 40%; height: 100%; line-height: 450px; font-size: 50px;">지난 자바 코드</section>
            <section style="border: 1px solid black; width: 40%; height: 100%; line-height: 450px; font-size: 50px;">비행기 게임</section>
            <section style="border: 1px solid black; width: 20%; height: 100%; line-height: 450px; font-size: 50px;">구상중</section>
        </div>
        <div style="display: flex; border: 1px solid black; width: 100%; height: 50%;">
            <section style="border: 1px solid black; width: 30%; height: 100%; line-height: 450px; font-size: 50px;">컨텐츠1</section>
            <section style="border: 1px solid black; width: 30%; height: 100%; line-height: 450px; font-size: 50px;">컨텐츠2</section>
            <section style="border: 1px solid black; width: 40%; height: 100%; line-height: 450px; font-size: 50px;">컨텐츠3</section>
        </div>
    </main>
    <footer style="border: 1px solid black; text-align: center; width: 1500px; height:50px; font-size:20px; line-height: 50px">footer</footer>
    </div>

</html>