<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body align="center">
    views -> main.ejs<br>
    <%= nick %>님 환영합니다.<br>
    <h3>로그인 성공 사용자만 입장!!!</h3>
    <a href="/session/login">로그인</a>
    <a href="/session/logout">로그아웃</a>
    <a href="/session/list">상품 목록 보기</a>
</body>
</html>