<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table border="1" align="center">
        <tr>
            <th>아이디</th>
            <th>이름</th>
            <th>주소</th>
        </tr>
        <% mem.forEach( data=> { %>
            <tr>
                <td>
                    <%= data.id %>
                </td>
                <td>
                    <a href="/member/info?id=<%= data.id %>">
                        <%= data.name %>
                    </a>
                </td>
                <td>
                    <%= data.addr %>
                </td>
            </tr>
            <% }) %>  
    </table>
</body>

</html>