<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table border="1" align="text">
        <tr>
            <th>아이디</th>
            <th>이름</th>
            <th>주소</th>
        </tr>
        <% for(let i=0 ; i < mem.length ; i++){ %>
            <tr>
                <td>
                    <%= mem[i].id %>
                </td>
                <td>
                    <%= mem[i].name %>
                </td>
                <td>
                    <%= mem[i].addr %>
                </td>
            </tr>
            <% } %>
    </table>
</body>

</html>